* {
	margin:0;
	padding: 0;
        color: white;
        
}
html {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   
}

main {
   margin: 0px;
   min-height: 550px;
   font-weight: 100;
   padding: 10px 10px 10px 10px;
}


body {
    
    background-image: url("../../img/movies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-align: left;
}
header {
	margin: 10px auto;
	width: 70%;
	    background:#0080FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0080FF, #004C99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0080FF, #004C99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0080FF, #004C99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0080FF, #004C99); /* Standard syntax */
}
 main {
	margin: 10px auto;
	width: 70%;
	background-color: #003366;
        box-shadow: 10px 10px 5px black;
        
 }
nav ul li a{
	text-decoration: none;
	background-color: transparent;
        color:white;
}

footer{
position: absolute;
bottom:0;
width: 70%;
     background:#0080FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0080FF, #004C99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0080FF, #004C99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0080FF, #004C99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0080FF, #004C99); /* Standard syntax */
   margin: 0 15%;
   
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: white;
}

#duur{
    
    padding-top: 50px;
}